*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
}
body{

    background: #141414;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -90px;
    margin-right: 30px;
    margin-left: -125px;
}
.logo{
    width: 350px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 5%;
    font-size: 30Px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 30px;
}
.header-text h1 span{
    color: #A1A1A1;
}
.header-text h5{
    margin-top: 25px;
    font-weight: lighter;
}
#about{
    padding: 90px 0;
    color:#A1A1A1;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
}
.about-col-2{
    flex-basis: 60%;
    margin-top: 20px;
}
.about-col-2 p{
    margin-top: 20px;
    font-size: medium;
    text-align: justify;
}
.sub-title{
    font-weight: 600;
    font-size: 46px;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ffffff;
    font-size: 15px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* ----------------------------services----------------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #282928;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 33px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #A1A1A1;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #000000;
    transform: translateY(-10px);
}
/* ---------------------------------portfolio----------------------------- */
 #portfolio{
    padding: 50px 0;
 }
 .Work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
 }
 .Work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
 }
 .Work img{
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: 0.5s;
 }
 .Work img:hover{
    transform: translateY(-10px);
 }
 .btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ffffff;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
 }
 .btn:hover{
    background: #ffffff;
    color: #000000;
 }
 /* ------------------------------contact----------------------------- */
 .contact-left{
    flex-basis: 35%;
 }
 .contact-right{
    flex-basis: 60%;
 }
 .contact-left p{
    margin-top: 30px;
 }
 .contact-left p i{
    color: #ffffff;
    margin-right: 15px;
    font-size: 20px;
 }
 .social-icons{
    margin-top: 30px;
    margin-left: -1px;
 }
 .social-icons a{
    text-decoration: none;
    font-size: 26px;
    margin-right: 12px;
    color: #A1A1A1;
    display: inline-block;
    transition: transform 0.5s;
 }
 .social-icons a:hover{
    background: #000000;
    color: #ffffff;
    transform: translateY(-5px);
 }
 .btn.btn2{
    background: #000000;
    display: inline-block;
 }
 .btn.btn2:hover{
    background: #ffffff;
    color: #000000;
 }
 .contact-right form{
    width: 100%;
 }
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #A1A1A1;
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-radius: 6px;
 }
 form .btn2{
padding: 14px 60px;
font-size: 18px;
margin-top: 20px;
cursor: pointer;
 }
 .sub-title h1{
    color: #ffffff;
 }